/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark Mode */
.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
